@using System.Globalization;
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<div class="container">
    <h2 class="text-center">@localizer["Haqqımızda"]</h2>
    <p class="p-b-lg-10">
       @localizer["content"]
    </p>
</div>